.card-img-top {
    max-height: 300px;
    object-fit: contain;
  }
  
  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  