body {
    background-image: url(../img/WhatsApp\ Image\ 2023-02-16\ at\ 15.28.51.jpeg); 
    background-size: 35em;
    background-position: center;
    background-repeat: no-repeat;
    }
    hr{
        opacity: 0;
    }




.myHeading {
    color: red;
  }

  h2{
    color: red;
  }